table {
    width: 100%;
}

mat-card { 
    margin-bottom: 100px;
    padding: 30px;
}

th.mat-sort-header-sorted {
    color: black;
}

.search {
    font-size: 14px;
    width: 100%;
}

mat-form-field {
    width: 30%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }