<mat-card>
    <mat-card-title>Login Form</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email">
        </mat-form-field> 

        <mat-error *ngIf="hasErrors('email')">
          <i><small>* {{ getMessageError(loginForm.controls["email"]) }}</small></i>
        </mat-error>
      </p> 

      <p>
        <mat-form-field>
          <mat-label>Passoword</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        
        <mat-error *ngIf="hasErrors('password')">
          <i><small>* {{ getMessageError(loginForm.controls["password"]) }}</small></i>
        </mat-error>
      </p>

      <mat-error *ngIf="errUserNotFound">
        <i><small>* user not found</small></i>
      </mat-error>
    

      <div class="button">
        <button type="submit" mat-raised-button color="primary">
          <mat-icon *ngIf="loadingSpinner">
            <mat-spinner color="accent" diameter="18"></mat-spinner>
          </mat-icon>
          Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>